<%-include('./includes/header.ejs') %>
  <div class="container">
    <h1 class="fw-bold"> Reset Password token </h1>
    <p> Here your reset pasword token</p>
    <h3><b><%- token %></b></h3>
    <!-- <a href='<%- token %>'><%- token %></a> -->
    <br>
  </div>
<%-include('./includes/footer.ejs') %>